[class*='l-flex'] {
  display: flex;
}

%align {
  justify-content: space-between;
  align-items: center;
}

.l-flex-header {
  @extend %align;
}

.l-flex-wrap {
  justify-content: space-around;
  flex-wrap: wrap;
}
