//por ejemplo: styles de autenticacion, regstro y auth
//manejar mismo esquema para todos los componentes
.auth__container {
  color: #1a1a1a;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 100px auto;
  padding: 0 40px;
  border-radius: 63px;
}

.auth__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $boton-color;
  width: 60%;
  height: 60px;
  color: $text-color;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0px auto;
  border: none;
  outline: none;
  border-radius: 31px;
}

.auth__title {
  font-size: 2rem;
  margin: 0px auto;
  margin-top: 50px;
  font-weight: 600;
}
.auth__title-second {
  margin: 0px auto;
  font-weight: 400;
}

.auth__description {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.auth__label {
  width: 100%;
  display: inline-block;
  margin-bottom: 36px;
  font-size: 1.4rem;
}

.auth__input {
  width: 100%;
  height: 64px;
  padding: 20px;
  // background-color: $bkg-color-modal;
  border: 1px solid #797979;
  outline: none;
  transition: 0.5s;
  caret-color: Black;
  color: $text-color;
  border-radius: 31px;
  &:focus {
    border-bottom: 3px solid #797979;
  }
}

.auth__input::placeholder {
  color: #797979;
}

// .auth__btn {
//   background-color: $boton-color;
//   width: 100%;
//   display: inline-block;
//   margin-bottom: 20px;
//   font-size: 1.4rem;
//   margin: 50px 0;
//   border: none;
//   border-bottom: 1px solid #ca3e47;
//   cursor: pointer;
//   text-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
// }

.auth__link {
  text-align: center;
  margin-bottom: 50px;
  color: black;
}

.auth__privacity {
  color: #797979;
  text-align: center;
  margin: 30px 0;
  font-size: 0.8rem;
}

// .auth__title {
//   margin: 50px auto;
//   text-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
//   font-weight: 400;
// }
