.focus__article {
  & article {
    animation-name: intro;
    animation-duration: 2s;
  }
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 40%;
  margin-top: 0px;
  margin-bottom: 50px;
  height: auto;
  padding: 20px;
  break-inside: avoid;
  page-break-inside: avoid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card__container--sentiment {
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  position: absolute;
}

.card__container--img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  filter: grayscale(0);
  border-radius: 31px;
  transition: 0.3s;
  &:hover {
    filter: grayscale(0.7);
  }
}

.card__items--label {
  color: $text-color;
  display: block;
  font-size: 1em;
  font-weight: 400;
  line-height: 27px;
  padding: 10px;
  width: 100%;
}

.searchSomething {
  color: $text-color;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 0 20px 0;
  text-align: center;

  animation-name: intro2;
  animation-duration: .8s;
}

@keyframes intro2 {
  0% {
    opacity: 0;
    padding-top: 20px;
  }
  80% {
    opacity: 1;
    padding-top: 0px;
  }
  100% {
    opacity: 1;
    padding-top: 0px;
  }
}