.comments__box {
    border: 1px solid #414141;
    padding: 2em;
    margin: 0;
    @include breakpoint(medium) {
        width: 100vw;
        @include breakpoint(large) {
            max-width: 954px;
            margin: 1em auto 3em;
        }
    }
    
}
.comments__box > h2 {
    font-size: 32px;
    font-weight: 700;
}

.comments__box--detail {
    border: 1px solid #414141;
    @include breakpoint(medium) {
        width: 75%;
        @include breakpoint(large) {
            width: 50%;
        }
    }
}