.commentItem {
    padding: 1em;
}
.commentItem__username {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.commentItem__username > img {
    width: 15px;
    height: 15px;
}