.notice-img {
  min-height: 10em;
  height: 66vh;
  object-fit: cover;
}

.principal-title {
  padding: 0.4em 0.6em 0;
  font-size: 1.85em;
  @include get-font-weight(bold);
}

.principal-text {
  padding: 0.6em 1em;
  font-size: 1em;
  @include get-font-weight(medium);
}
