.news {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.news__detail {
		width: 100%;		
		display: flex;
		flex-wrap: wrap;
}

.news__detail--image {
	width: 100%;
	min-width: 50%;
	max-width: 500px;
	margin: 0 auto;
	& img {
		width: 100%;
		margin-top: 20px;
	}
}

.news__detail--body {
	width: 100%;
	min-width: 50%;
	max-width: 500px;
	margin: 0 auto;
  padding: 20px;
}
.news__detail--title {
    display: flex;
    flex-direction: row;
		justify-content: space-between;
		font-size: 2rem;
		align-items: center;
}

.deleteNews--icon {
    height: 30px;
    width: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
}

.news__detail--text {
    display: flex;
    flex-direction: column;
}

.news__detail--category {
	margin-bottom: 50px;
	font-size: .8rem;
}

.news__detail--button {
	width: 100%;
	& :hover {
		background-color: #ca3e47
	}
	& button {
		width: 100%;
		height: 50px;
		margin-top: 50px;
		background-color: hsla(356, 57%, 52%, 0.7);
		color: $text-color;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
		font-size: 1.4rem;
		cursor: pointer;
		border: none;
		border-bottom: 1px solid #ca3e47;
		outline: none;
		transition: .5s;
	}
}

