.news__section--container {
  color: $text-color;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(medium) {
    width: 70%;
  }
}
.news__detail--backnews {
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  @include breakpoint(small) {
    margin-left: 40px;
  }
  @include breakpoint(medium) {
    margin-left: 20px;
  }
}
.news__detail--arroy {
  width: 30px;
  margin-right: 10px;
  margin-top: 3px;
}
.news__detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include breakpoint(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.news__detail--image {
  width: 300px;
  height: 150px;
  min-width: 20%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  @include breakpoint(small) {
    width: 360px;
    height: 170px;
  }
  @include breakpoint(medium) {
    width: 100%;
    height: 250px;
  }
  & img {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
  }
}
.news__detail--img {
  width: 100%;
  height: 100%;
}
.news__detail--sentiment {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 20px;
}

.news__detail--body {
  width: 100%;
  min-width: 50%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.news__detail--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 40px;
  font-weight: bold;
  margin-top: 0px;
  @include breakpoint(medium) {
    font-size: 1.5rem;
    margin-top: 20px;
  }
}

.news__delete--button {
  cursor: pointer;
  background: transparent;
  border: none;
  &:focus {
    border: 2px solid $text-color;
  }
}
.news__delete--icon {
  height: 30px;
  width: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.news__detail--text {
  display: flex;
  flex-direction: column;
}

.news__detail--category {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 0.8rem;
}

.news__detail--button {
  width: 100%;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $boton-color;
    width: 60%;
    height: 40px;
    color: $ligth-color;
    cursor: pointer;
    font-size: 1rem;
    margin: 50px auto;
    border: none;
    outline: none;
    border-radius: 31px;
    transition: 0.5s;
    &:hover {
      background: $boton-colorInv;
    }
    @include breakpoint(medium) {
      height: 60px;
      font-size: 1.1rem;
    }
  }
}
.news__detail--button-pwa {
  width: 100%;
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $boton-color;
    width: 60%;
    height: 40px;
    color: $ligth-color;
    cursor: pointer;
    font-size: 1rem;
    margin: 50px auto;
    border: none;
    outline: none;
    border-radius: 31px;
    transition: 0.5s;
    &:hover {
      background: $boton-colorInv;
    }
    @media (min-width: 763px) {
      display: none;
    }
    @include breakpoint(medium) {
      display: none;
    }
  }
}
