nav {
  width: 100%;
}
.newsection__container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100;
  color: $text-color;
  height: 340px;
  margin-top: 65px;
  @include get-font(light, secondary);
  background-color: $header-color;
  @include breakpoint(medium) {
    height: 200px;
  }
}

.newsection__items {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.newsection__title--user {
  font-size: 2rem;
  font-weight: 400;
  width: auto;
  margin-bottom: 30px;
  @include breakpoint(medium) {
    font-size: 3rem;
  }
}
.newsection__label {
  width: 50%;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.4rem;
  @include breakpoint(small) {
    width: 60%;
  }
  @include breakpoint(medium) {
    width: 100%;
  }
}

.newsection__input {
  width: 100%;
  max-width: 600px;
  height: 40px;
  padding: 20px;
  border: 1px solid #797979;
  outline: none;
  transition: 0.5s;
  caret-color: Black;
  color: $bkg-color-main;
  border-radius: 31px;
  &:focus,
  &:hover,
  &:active {
    box-shadow: 0px 3px 2px 0px #797979;
  }
  &::placeholder {
    font-size: 1rem;
    color: $bkg-color-main;
  }
  @include breakpoint(medium) {
    height: 50px;
    font-size: 0.8rem;
  }
}

.sections__container--items {
  margin: 0 10px 0 15px;
  height: 50px;
  @include breakpoint(medium) {
    height: 250px;
  }
}
.sections__list {
  margin-top: 10px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  @include breakpoint(small) {
    // flex-direction: column;
  }
  @include breakpoint(medium) {
    height: 40px;
    flex-direction: row;
  }
  li {
    list-style: none;
  }
}
.sections__list--item {
  padding: 0 1.7em;
  font-size: 1.5em;
  padding-top: 0;
  @include get-font-weight(medium);
  @include breakpoint(medium) {
    padding: 0 1rem;
  }
  &:hover,
  &:focus,
  &:active {
    background: $boton-color;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 31px;
    color: $text-color;
    margin: 0px auto;
  }

  @include breakpoint(medium) {
    padding-top: 0;
  }
}

//?? de donde es este boton?
.newsection__btn {
  color: $text-color;
  font-size: 1rem;
  margin: 0px auto;
  @include breakpoint(medium) {
    height: 40px;
    // font-size: 1.1rem;
  }
}
