.notfound__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 100px auto;
  margin-bottom: 350px;
}
.notfound__text {
  font-size: 50px;
  max-width: 800px;
  font-weight: bold;
  line-height: 55px;
  margin-top: 20px;
}
.notfound__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $boton-color;
  width: 276px;
  height: 60px;
  color: $text-color;
  cursor: pointer;
  font-size: 1rem;
  margin: 0px auto;
  border: none;
  outline: none;
  border-radius: 31px;
  margin-top: 66px;
  @include breakpoint(medium) {
    height: 60px;
    font-size: 1.1rem;
  }
}
