@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 200vh;
}

@media screen and (min-width: 768px) {
  html {
    min-height: 100vh;
  }
}

header {
  background-color: #404040;
  -webkit-box-shadow: 0 0 8px #666666;
          box-shadow: 0 0 8px #666666;
}

h1 {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  h1 {
    font-size: 1.65rem;
  }
}

span {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #f2f2f2;
  cursor: pointer;
}

img {
  width: 100%;
}

.main-container {
  background-color: #4d4d4d;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #f2f2f2;
  min-height: 200vh;
}

.header-container {
  width: 91.5%;
  padding: 1.92em 0;
}

.header-container p {
  font-size: 1.1rem;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
  .header-container p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .header-container p {
    font-size: 1.45rem;
    letter-spacing: 0.3px;
  }
}

.header-container,
.principal-container,
.sections-container,
.notices-container {
  margin: auto;
  max-width: 1280px;
}

.principal-container {
  position: relative;
}

.image-container {
  padding: 1.6em 0;
}

@media screen and (min-width: 768px) {
  .image-container {
    padding: 3em 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .image-container {
    padding: 3.5em 0;
  }
}

.notice-container {
  position: absolute;
  top: 7.5em;
  height: 33vh;
  background-color: rgba(65, 65, 65, 0.55);
}

@media screen and (min-width: 768px) {
  .notice-container {
    top: 20em;
    height: 30vh;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .notice-container {
    top: 28em;
    height: 30vh;
  }
}

.sections-container {
  height: 45vh;
  background-color: #404040;
}

@media screen and (min-width: 768px) {
  .sections-container {
    height: 38vh;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .sections-container {
    height: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .notices-container a {
    padding: 0 2.5em;
  }
}

.cards-container {
  padding-top: 3em;
}

[class*='l-flex'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-flex-row,
.l-flex-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flex-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*='l-grid'] {
  display: -ms-grid;
  display: grid;
}

.l-grid-4 {
  grid-gap: 40px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (min-width: 768px) {
  .l-grid-4 {
    grid-gap: 10px;
  }
}

.notice-img {
  min-height: 10em;
  height: 66vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .notice-img {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .notice-img {
    height: 100%;
  }
}

.principal-title {
  padding: 0.4em 0.6em 0;
  font-size: 1.85em;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .principal-title {
    font-size: 2.5em;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .principal-title {
    font-size: 2.75rem;
    font-weight: 700;
  }
}

.principal-text {
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .principal-text {
    font-size: 1.3em;
    padding-left: 1.3em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .principal-text {
    font-size: 1.55em;
    padding-left: 1.2em;
  }
}

.sections-title {
  padding: 0.7em 0;
  font-size: 1.9rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sections-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .sections-title {
    padding: 0.4em 0;
    font-size: 3em;
  }
}

.section-items {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .section-items a {
    padding: 0 1.2em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section-items a {
    padding: 0 3.25em;
  }
}

.section-item {
  padding: 0.85em;
  font-size: 1.29rem;
}

@media screen and (min-width: 768px) {
  .section-item {
    padding: 0.5em;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section-item {
    padding: 0.3em;
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .card-img {
    height: 40vh;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .card-img {
    height: 100%;
  }
}

.card-label {
  padding: 0.5em 0.6em;
  font-size: 1.4rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .card-label {
    padding: 0.5em 0;
    font-size: 1.65em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .card-label {
    font-size: 1.63em;
  }
}

.card-text {
  padding: 0.5em 1em;
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .card-text {
    padding: 0.5em 0;
    font-size: 1.15em;
  }
}

@media screen and (min-width: 768px) {
  .news {
    margin: 3.125em 0 1.391em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .news {
    width: 954px;
    margin: 7.5em auto 1.5em;
  }
}

.news__detail {
  width: 100vw;
  border: 1px solid #414141;
}

@media screen and (min-width: 768px) {
  .news__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .news__detail .news__detail--image {
    width: 45vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .news__detail {
    width: 954px;
    margin: 7.5em auto 1.5em;
  }
  .news__detail .news__detail--image {
    width: 35vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.news__detail--body {
  margin: 3em 1.75em 6.25em;
}

@media screen and (min-width: 768px) {
  .news__detail--body {
    width: 55vw;
    margin: 1.5em 1.25em 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .news__detail--body {
    width: 55vw;
    margin: 0.75em 1em 1.5em;
  }
}

.news__detail--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__detail--title > h2 {
  font-size: 32px;
}

.deleteNews--icon {
  height: 30px;
  width: 30px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 0.7em;
}

.news__detail--text > h4 {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 2em;
}

.news__detail--body > p {
  text-justify: auto;
}

.news__detail--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__detail--button {
  width: 14em;
  height: 2em;
  margin: auto;
  border: none;
  background-color: rgba(202, 62, 71, 0.7);
  text-align: center;
  text-shadow: 0px 4px 4px #151515;
  color: #f2f2f2;
  font-size: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0.2em 1.5em 1em;
  margin: 2em auto;
}

@media screen and (min-width: 768px) {
  .news__detail--button {
    width: 14em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .news__detail--button {
    padding: 0.3em 3.5em 0.5em;
    width: 18em;
    height: 2em;
  }
}

.temporarylink {
  width: 10em;
  margin: 1em;
}

@media screen and (min-width: 768px) {
  .temporarylink {
    width: 20em;
    display: block;
    margin: 3em auto 3em auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .temporarylink {
    width: 10em;
    margin: 0 1em;
  }
}

.comments__box {
  border: 1px solid #414141;
  padding: 2em;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .comments__box {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .comments__box {
    max-width: 954px;
    margin: 1em auto 3em;
  }
}

.comments__box > h2 {
  font-size: 32px;
  font-weight: 700;
}

.comments__box--detail {
  border: 1px solid #414141;
}

@media screen and (min-width: 768px) {
  .comments__box--detail {
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .comments__box--detail {
    width: 50%;
  }
}

.commentItem {
  padding: 1em;
}

.commentItem__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentItem__username > img {
  width: 15px;
  height: 15px;
}
/*# sourceMappingURL=styles.css.map */