//podemos colocar las variables de color para unificarlas
//Colors

$header-color: hsl(0, 0%, 25%);
$bkg-color-main: hsl(0, 0%, 30%);
$bkg-color-main2: hsl(0, 0%, 32%);
$bkg-color-modal: hsl(0, 0%, 40%);
$text-color: hsl(0, 0%, 95%);
$boton-color: hsl(356, 40%, 48%);
$shadow-color: hsl(0, 0%, 40%);
$text-shadow: hsl(0, 0%, 8%);
