//podemos colocar las variables de color para unificarlas
//Colors

$header-color: #313131;
$bkg-color-main: #414141;
$bkg-color-modal: #525252;
$text-color: #fff2f3;
$boton-color: #ca3e47;
$text-shadow: #151515;
