$header-color: #1a1a1a;
$bkg-color-main: #1a1a1a;
$bkg-color-modal: #525252;
$text-color: #fff2f3;
$ligth-color: #fafafa;
$boton-color: linear-gradient(
  90deg,
  rgba(110, 88, 199, 1) 0%,
  rgba(144, 103, 209, 1) 100%
);
$boton-color-acces: rgba(110, 88, 199, 1);
