* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
}
html {
  background-color: #1a1a1a;
  height: auto;
}
header {
  background-color: $header-color;
}
h1 {
  font-size: 1.1rem;
  @include get-font-weight(light);
  letter-spacing: 0.2px;
}
span {
  @include get-font-weight(bold);
}

.focus-style {
  &:focus {
    background-color: $boton-color;
    font-size: 24px;
  }
  &:active {
    background-color: $boton-color;
    font-size: 24px;
  }
}
.focus-style--button {
  &:focus {
    font-size: 24px;
    background-color: $text-color;
  }
  &:active {
    font-size: 24px;
    background-color: $text-color;
  }
}
