* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

html {
    background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(81,81,81,1) 100%);
    min-height: 200vh;
    @include breakpoint(medium) {
      min-height: 100vh;
    }
  // @include get-font(light, principal);

}


header {
  background-color: $header-color;
}
h1 {
  font-size: 1.1rem;
  @include get-font-weight(light);
  letter-spacing: 0.2px;
  // @include breakpoint(medium) {
  //   font-size: 1.3rem;
  //   @include breakpoint(large) {
  //     font-size: 1.65rem;
  //   }
  // }
}
span {
  @include get-font-weight(bold);
}
a {
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
}

