* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  @include get-font(light, principal);
}
header {
  background-color: $header-color;
  box-shadow: 0 0 8px $shadow-color;
}
h1 {
  font-size: 1.1rem;
  @include get-font-weight(light);
  letter-spacing: 0.2px;
}
span {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
}
img {
  width: 100%;
}
