* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
header {
  background-color: var(--header-color);
  box-shadow: 0 0 8px var(--shadow-color);
}
h1 {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}
span {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}
img {
  width: 100%;
}
