.main-container {
  @include get-font(light, principal);
  color: $text-color;
  min-height: 200vh;
}

.header-container {
  width: 91.5%;
  padding: 1.92em 0;
}

.header-container {
  p {
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    @include breakpoint(medium) {
      font-size: 1.3rem;
      @include breakpoint(large) {
        font-size: 1.45rem;
        letter-spacing: 0.3px;
      }
    }
  }
}

.header-container,
.principal-container,
.sections-container,
.notices-container {
  margin: auto;
  max-width: 1280px;
}

.principal-container {
  position: relative;
}

.image-container {
  padding: 1.6em 0;
  @include breakpoint(medium) {
    padding: 3em 0;
    @include breakpoint(large) {
      padding: 3.5em 0;
    }
  }
}

.notice-container {
  position: absolute;
  top: 7.5em;
  height: auto;
  background-color: rgba(65, 65, 65, 0.55);
  @include breakpoint(medium) {
    top: 20em;
    @include breakpoint(large) {
      top: 28em;
    }
  }
}

.sections-container {
  height: auto;
  padding: 10px 20px;
  background-color: $header-color;
}

.notices-container {
  a {
    @include breakpoint(medium) {
      padding: 0 2.5em;
    }
  }
}

.cards-container {
  padding-top: 3em;
}
